<?xml version="1.0"?>

<model>
  <name>RMUC2024_world</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lihan Chen</name>
    <email>lihanchen2004@163.com</email>
  </author>

  <description>
    RoboMaster University Championship 2024 world
  </description>

</model>
